@use "@/styles/variables.scss" as *;

.burgerBtn {
  position: relative;
  width: 58px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  border: none;
  background: none;
  padding: 18px 18px;
  top: 3px;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $yellow-color;
    border-radius: 10px;
    transition:
      transform $transition-speed $transition-style,
      opacity $transition-speed $transition-style;
  }

  &.open span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}
