@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.contactsContainer {
  margin-top: 150px;
  margin-bottom: 90px;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
}

.contactCard {
  background-color: #1a1a1a;
  border: 2px solid #ffd13233;
  border-radius: 48px;
  width: 292px;
  height: 380px;
  text-align: center;
  color: $yellow-color;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;

  &:hover {
    border-color: #ffd132;
    background-color: #222;
  }

  .icon {
    width: 131px;
    height: 131px;
    margin-bottom: 20px;
  }

  .label {
    margin-top: 8px;
    font-size: 0.95rem;
  }

  .link {
    font-size: 1.1rem;
    text-decoration: none;
    color: $yellow-color !important;
    transition: color 0.2s;
  }
  .link:hover {
    color: #ffd132 !important;
  }

  @media( max-width:$breakpoint-mobile){
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 250px;
  }
}

