@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.contactsContainer {

  margin-top: 150px;
  margin-bottom: 90px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
  @media( max-width:$breakpoint-mobile){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.contactCard {
  background-color: #1a1a1a;
  border: 2px solid #ffd13233;
  border-radius: 48px;
  width: 292px;
  height: 380px;
  text-align: center;
  color: $yellow-color;
  transition: border 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;

  &:hover {
    border-color: #ffd132;
    background-color: #222;
  }

  .icon {
    width: 131px;
    height: 131px;
    margin-bottom: 20px;
  }

  .label {
    margin-top: 8px;
    font-size: 0.95rem;
  }

  a {
    font-size: 1.1rem;
    text-decoration: none;

    &:hover {
      color: #ffd132;
    }
  }
  @media( max-width:$breakpoint-mobile){
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 250px;
  }
}