@use "@/styles/variables" as *;

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerLink {
  color: $white-color;
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  transition: color 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: $yellow-color;
  }
}

.footerLinks .footerLink:first-child {
  color: $yellow-color;
}

.link {
  color: #facc15;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


