@use "@/styles/variables" as *;

/* Основные стили контейнера корзины */
.summaryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1228px;
  min-height: 62vh;
  margin-bottom: 40px;
  color: $white-color;
  height: auto;
}

.summaryContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  gap: 124px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    gap: 40px;
  }
}
