@use "@/styles/variables" as *;

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: $black-color;
  overflow-x: hidden;
  margin: 0;
}

main {
  flex-grow: 1;
  width: 100vw;
  overflow: hidden;
}

footer {
  margin-top: auto;
}

a,
button {
  transition:
    color $transition-speed $transition-style,
    background-color $transition-speed $transition-style,
    border $transition-speed $transition-style,
    outline $transition-speed $transition-style,
    transform $transition-speed $transition-style;
}

.container {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-mobile;
    padding: 0 16px;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
    padding: 0 24px;
  }
}
