@use "@/styles/variables" as *;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  background-color: $black-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  gap: 75px;
  will-change: transform;

  @media (max-width: $breakpoint-mobile) {
    gap: 20px;
  }
}

footer {
  margin-top: 150px;
}

a,
button {
  transition:
    color $transition-speed $transition-style,
    background-color $transition-speed $transition-style,
    border $transition-speed $transition-style,
    outline $transition-speed $transition-style,
    transform $transition-speed $transition-style;
  will-change: transform;
}

.container {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  overflow: visible;

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-mobile;
    padding: 0 16px;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
    padding: 0 24px;
  }
}
