* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 3px solid green;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  button,
  input,
  textarea {
    border: none;
    outline: none;
    background: none;
    font: inherit;
    resize: none;
  }
  