@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: $white-color;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: $white-color;
  max-width: 600px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  background-color: $yellow-color;
  border-radius: 58px;
  border: 1px solid $yellow-color;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fbbc058c;
    border-color: #fbbc058c;
  }
}

.secondaryButton {
  background-color: transparent;
  border: 2px solid $yellow-color;
  color: $white-color;

  &:hover {
    background-color: rgba(251, 188, 5, 0.1);
  }
}

@media (max-width: $breakpoint-mobile) {
  .buttonContainer {
    max-width: 320px;
  }
} 