@use "@/styles/variables" as *;

.buttonBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background-color: transparent;
  gap: 1rem;
  @media (max-width: $breakpoint-mobile) {
    justify-content: center;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer,
.secondСontainer {
  background-color: $grey-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 1px;
}

.iconContainer {
  height: 52px;
  width: 52px;
  top: 3px;
  right: 2px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.secondСontainer {
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: flex;
    height: 34px;
    width: 34px;
    top: 2px;
    right: 2px;
  }
}

.button__text {
  padding-right: 2rem;
  color: $black-color;
  margin-right: 8px;
  font-size: 16px;
  text-decoration: none;

  @media (max-width: $breakpoint-mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    padding: 0;
  }
}

.moreInfoText {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-mobile) {
    justify-content: center;
    margin-left: -12px;
    font-size: 15px;
    width: 100%;
    padding: 0;
  }
}

.moreInfoText {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-mobile) {
    justify-content: center;
    margin-left: -12px;
    font-size: 15px;
    width: 100%;
    padding: 0;
  }
}


.test{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $yellow-color;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  background: radial-gradient(rgba(255, 213, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 80%);
}