@use "@/styles/variables" as *;

.backgroundCirclesTop {
  top: -10%;
  left: -30%;
  transform: rotate(45deg);
}

.backgroundCirclesCenter {
  top: 50%;
  left: 50%;
  transform: scale(1.3);
}

/* Основные стили контейнера корзины */
.cartPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1228px;
  margin-top: 100px;
  margin-bottom: 40px;
  color: $white-color;
  height: auto;
}

.cartContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: $breakpoint-tablet) {
  .cartContainer {
    justify-content: center;
  }
}
