@use "@/styles/variables" as *;

/* Стили для хедера */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $black-color;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  z-index: 2000;
}

/* Стили для контейнера внутри хедера */
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* Стили для лого */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: rotate(-45deg);
}

/* Стили для активных кнопок */
.active_btns {
  display: flex;
  color: $white-color;
  transition: all 0.3s ease;
  align-items: center;
  gap: 1rem;
}

/* Стили для кнопки вызова */
.call_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Стили для кнопки корзины */
.cart_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Адаптивные стили для планшетов */
@media (max-width: $breakpoint-tablet) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .navBar,
  .navBarBtns {
    display: none !important;
  }
  .content {
    justify-content: start;
  }
  .call_btn {
    display: none;
  }
  .active_btns {
    margin-left: auto;
  }
}
