@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.title {
  @include text-outline;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 36px 0;

  .productBtn {
    background-color: $yellow-color;
    padding: 16px 16px;
    border-radius: 25px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
  }
}

.newProducts {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 20px;
}

.recommendationContainer {
  padding-bottom: 36px;
  position: relative;

  .recommendationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  .recommendationList {
    display: flex;
    gap: 20px;
  }

  .backgroundCircles {
    top: 20%;
    right: -30%;
    transform: rotate(240deg);
  }
}
