@use "@/styles/variables" as *;

.address_form_container {
  color: $white-color;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;

  // Центрирование по умолчанию отключено, будет только на мобилке
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    text-align: center;
    order: 2;
  }
}

.info_item {
  strong {
    font-weight: bold;
  }

  a {
    color: $white-color;
    text-decoration: none;
  }

  @media (max-width: $breakpoint-mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.payment_icon {
  width: 80px;
  height: auto;

  @media (max-width: $breakpoint-mobile) {
    margin: 0 auto;
    display: block;
  }
}
