@use "@/styles/variables" as *;

.liqpayForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.liqpayButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 58px;
  background-color: $yellow-color;
  border-radius: 58px;
  border: 1px solid $yellow-color;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fbbc058c;
    border-color: #fbbc058c;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 320px;
  }
} 
.liqpayButton:disabled,
.liqpayButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}