// ------------------------
// Переменные и миксины
// ------------------------

@use "@/styles/variables.scss" as *;

// Миксины для медиазапросов
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

// ------------------------
// Стили для компонентов
// ------------------------

/* Container */
.container {
  width: 100%;
  height: 755px;

  @include mobile {
    height: 100vh;
  }
}

/* Новые бейджики */
.newBadge {
  background-color: $yellow-color;
  color: $black-color;
  padding: 10px 15px;
  border-radius: 60px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 20px;

  @include mobile {
    left: 110px;
    top: 20px;
    font-size: 10px;
    padding: 8px 12px;
  }
}

/* Информация о бейджике */
.badgeInfo {
  svg {
    stroke: $yellow-color;
  }

  position: absolute;
  right: 20px;
  top: 20px;

  @include mobile {
    right: 110px;
  }
}

/* Карточка товара */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1224px;
  height: 512px;
  margin: 20px;
  z-index: 10;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  @include mobile {
    flex-direction: column;
    height: auto;
    margin: 0 27px;
  }

  @include tablet {
    flex-direction: column;
    height: auto;
  }
}

/* Слайд */
.slide {
  width: 396px;
  height: 512px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: $main-border;
  opacity: 0.8;
  transition: opacity 0.5s ease-out;

  @include mobile {
    max-width: 49%;
    height: 274px;
    position: static;
  }

  @include tablet {
    position: static;
  }

  $breakpoint-tablet-plus-one: $breakpoint-tablet + 1;

  @media (min-width: $breakpoint-tablet-plus-one) {
    position: absolute;
  }

  @include mobile {
    Button {
      width: 86%;
      height: 44%;
    }
  }

  .buttonPlace {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 396px;
    height: 120px;
    border-radius: 20px;
    border: $main-border;
    background-color: $black-color;

    @include mobile {
      max-width: 50%;
      height: 90px;
      right: 100px;
    }
  }

  &.active {
    opacity: 1;
    background: linear-gradient(149deg,
        rgba(80, 71, 42, 1) 5%,
        rgba(43, 41, 32, 1) 50%,
        rgba(0, 0, 0, 1) 100%);
  }
}

/* Анимация fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.buttonPlace {
  animation: fadeInUp 0.3s ease-out;
  will-change: transform, opacity;
}

/* Карусель */
.carousel {
  position: relative;
  width: 708px;
  height: 512px;
  overflow: hidden;
  background-color: $black-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 100%;
    height: 300px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include mobile {
      width: 100%;
      height: auto;
    }
  }

  .image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .addToCart {
      margin-top: 10px;
      width: 100%;
      text-align: center;
      background-color: yellow;
      color: black;
      font-weight: bold;
      visibility: visible;
      opacity: 1;
      cursor: pointer;
      box-sizing: border-box;

      @include mobile {
        width: 90%;
        margin: 10px auto;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      @include mobile {
        font-size: 14px;
        padding: 8px;
      }
    }
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 45%;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  .arrowLeft {
    left: 10px;

    @include mobile {
      left: 0;
      z-index: 2;
    }
  }

  .arrowRight {
    right: 12px;

    @include mobile {
      right: 0;
      z-index: 2;
    }
  }
}

/* Иконка */
.iconContainer {
  height: 52px;
  width: 52px;
  background-color: $grey-color;
  border-radius: 50%;
  display: flex;
  margin-right: 1px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 2px;

  @include mobile {
    margin: 0 auto;
  }
}

/* Описание товара */
.moreButtonText {
  padding-right: 2rem;
  color: $white-color;
  margin-right: 8px;
  font-size: 16px;
}

/* Цена */
.priceContainer {
  margin-top: -37px;

  @include mobile {
    left: 0;
    top: 0;
    margin-top: 0;
  }
}

/* Контейнер для описания */
.descriptionContainer {
  width: 100%;
  max-width: 400px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  word-wrap: break-word;
}

.info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: hidden;

  @include mobile {
    width: 100%;
    height: 248px;
    margin: 0 auto;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    text-decoration: none;

    @include mobile {
      font-size: 1.3em;
    }
  }

  p {
    font-size: 1rem;
    color: $white-color;
  }

  .sizes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      font-size: 1rem;
      text-decoration: underline;
      color: white;
      cursor: pointer;
      gap: 8px;
      text-decoration: none;

      @include mobile {
        font-size: 0.8rem;
      }

      input {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 3px solid $white-color;
        border-radius: 50%;
        background-color: $black-color;
        position: relative;
        cursor: pointer;
        transition: 0.3s;

        &:checked {
          background-color: $yellow-color;
          border-color: $yellow-color;
        }
      }
    }
  }
}
.radioInput {
  --container_width: 398px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9999px;
  background-color: $black-color;
  color: $white-color;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid $yellow-color;
  transition: background-color 0.3s ease;

  @include mobile {
    --container_width: 95%;
    margin: 0 auto;
  }

  label {
    flex: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -1px;
    transition: color 0.3s ease;

    @include mobile {
      font-size: 12px;
    }

    input {
      display: none;
    }

    span {
      display: block;
      width: 100%;
      text-align: center;
      padding: 5px;
      border-radius: 9999px;
      transition: background-color 0.3s ease, color 0.3s ease;
      color: $white-color;
    }

    &:hover span {
      background-color: rgba(255, 255, 255, 0.05);
    }

    input:checked + span {
      color: $black-color;
    }

    &.filled span {
      color: $black-color;
    }
  }

  .selection {
    position: absolute;
    height: 100%;
    background-color: $yellow-color;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0%;
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 9999px;
  }
}
