@use "@/styles/variables" as *;

/* Стили для секции итоговой информации */
.cartSummary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 500px;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 20px;
  border: $main-border;
  gap: 1rem;
  background-color: $grey-color;
}

.summaryHeader {
  display: flex;
  text-align: left;
}

.summryText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summaryDelyvery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.deliveryHeader {
  display: flex;
  text-align: left;
  font-weight: 100;
}

.deliveryOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.deliveryOption {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.deliveryOptionDescription {
  display: flex;
  text-align: left;
}

.summaryTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Стили для кнопок управления корзиной */
.checkoutButton {
  fisrt-child {
    margin-bottom: 20px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 58px;
  background-color: $yellow-color;
  border-radius: 58px;
  border: 1px solid $yellow-color;
  color: black;

  &:hover {
    background-color: #fbbc058c;
    border-color: #fbbc058c;
  }
}

.continueShoppingButton {
  width: 500px;
  height: 58px;
  background-color: transparent;
  border-radius: 58px;
  border: 2px solid #fbbc058c;
  color: white;

  &:hover {
    border-color: $yellow-color;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .cartSummary {
    width: 335px;
    margin-bottom: 40px;
  }
  .checkoutButton {
    width: 320px;
  }
  .continueShoppingButton {
    width: 320px;
  }
}
